@font-face {
 font-family: "BPG Nino Mtavruli", sans-serif;
 src: url("/fonts/bpg-nino-mtavruli-webfont.eot") format("oet"),
		 url("/fonts/bpg-nino-mtavruli-webfont.svg") format("svg"),
		 url("/fonts/bpg-nino-mtavruli-webfont.ttf") format("ttf"),
		 url("/fonts/bpg-nino-mtavruli-webfont.woff") format("woff"),
		 url("/fonts/bpg-nino-mtavruli-webfont.woff2") format("woff2");
 font-display: swap;   
}

body{
	margin: 0;
	padding: 0;
	font-family: "BPG Nino Mtavruli", sans-serif;
}
.start {
	padding-left: 20px;
	padding-right: 30px;
	float:left;
	width: 100.18px;
	height: 30.57px;
}
.pic{
	width: 928px;
	height: 594px;
	margin: 10px 0 25px 20px; 
}
.bord{
	padding: 5px;
}
.tach{
	width: 102.87px;
	height: 145.5px;
	float:left;
	padding:0 50px 0 20PX;
}
.first{
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	margin-left: 20px;
	padding: 20px 0;
}
.first>h1{
	font-size: 22px;
	color: #3D58A6;
	padding: 5px 10px;
	margin: 0;
}
.first>p{
	font-size: 20px;
	padding:0 10px;
	text-align: justify;
}
.first> img{
	margin-top: 25px;
}
.up{
	margin-left: 20px;
}
.second{
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	margin: 0 0 0 100px;
	padding: 20px 0;
}
.second>p{
	font-size: 20px;
	padding:0 10px;
	text-align: justify;
}
.second>h1{
	font-size: 22px;
	color: #3D58A6;
	padding: 5px 10px;
	margin:0;
}
.second> img{
	margin-top: 25px;
}
.screen{
	width: 102.87px;
	height: 145.5px;
	float:left;
	padding:0 50px 0 20PX;
}
.first, .second{
	display: inline-table;
}
ul{
	padding-top: 8px;
}
li {
	margin-left: 10px;
	display: inline-block;
	list-style: none;
	font-size: 22px;
}
.red{
	color: red;
}
li a{
	text-decoration: none;
}
.social-div{
    margin: 35px 0 28px 20px;
}
.divider{
    width: 1px;
    height: 29px;
    background-color: #3D58A6;
    display: inline-block;
    margin: 0 30px 0 36px ;
}